#photo {
  width: 15%;
  height: 15%;
  position: relative;
  left: 45%;
}

.sp_text {
  font-family: monospace;
  font-weight: bold;
  color: #82FFBF;
}

#list {
  color: white;
  text-align: left;
  margin-left: 30.7%;
  font-size: 20px;
}

h2 {
  color: white;
  font-family: copperplate, copperplate gothic light, fantasy;
  margin-left: 30.7%;
}

table {
  color: white;
  margin-left: 30.7%;
  border-collapse: collapse;
  border: 2px solid white;
}

th, td {
  padding: 5px;
  border: 2px solid white;
  border-collapse: collapse;
}

form {
  margin-left: 43%;
}
